@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

// Global Variables
// Fonts
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Open Sans", sans-serif;
// Colors
$black: #000;
$white: #fff;
// Gray
$gray-1: #f7fafc;
$gray-2: #edf2f7;
$gray-3: #e2e8f0;
$gray-4: #cbd5e0;
$gray-5: #a0aec0;
$gray-6: #718096;
$gray-7: #4a5568;
$gray-8: #2d3748;
$gray-9: #1a202c;
// Purple
$purple-1: #faf5ff;
$purple-2: #e9d8fd;
$purple-3: #d6bcfa;
$purple-4: #b794f4;
$purple-5: #9f7aea;
$purple-6: #805ad5;
$purple-7: #6b46c1;
$purple-8: #553c9a;
$purple-9: #44337a;

// Shadow
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

// BreakPoint
$sm: 40em; //640px
$md: 48em; //760px
$lg: 64em; //1024px
$xl: 80em; //1280px

// Global Styles Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $purple-1;
  color: $gray-9;
  font-family: $font-primary;
  font-size: 1.6rem;
  line-height: 1.6;
  height: 100%;
  position: relative;
  a,
  a::after {
    color: $gray-9;
  }
}

body.dark {
  background-color: $gray-9;
  color: $gray-1;
  a,
  a::after {
    color: $gray-1;
  }
}

.container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
}
